extends ../shared/layout.pug

block content
  div(class='list-group feed-item')
    a(href='#' class='list-group-item')
      div(class='row')
        div(class='col-xs-9')
          span Title
          span(class='feed-subtitle') subtitle.....
        div(class='col-xs-2')
          span 20/12/2017
        div(class='col-xs-1 feed-trash')
          icon(class='glyphicon glyphicon-trash')
